<h1>Réinitialisation du mot de passe</h1>

<p>Bonjour,</p>

<p>Vous avez demandé à réinitialiser votre mot de passe. Cliquez sur le lien ci-dessous :</p>

<p>
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">
        Réinitialiser mon mot de passe
    </a>
</p>

<p>Si vous n’avez rien demandé, vous pouvez ignorer ce message.</p>
<p>Merci,</p>