{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Modifié l'article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="btn btn-sencondary" href="{{ path('app_article_index') }}">Revenir à la liste</a>

{% endblock %}
