{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1 class="text-center">Mon Blog</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_article_index') }}">Listes des articles</a>
{% endblock %}
